/* ALL EXTRA STYLIZATION */


/* This is serving as a root for ally additional styling outside of the normalize.css */


/* @import "./normalize.css"; */

@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
body {
    /* background-color: #404040; */
    /* background-image: linear-gradient(to left bottom, #222, #555); */
    background-image: linear-gradient(to top left, rgb(250, 102, 57), rgb(250, 57, 99));
    border: 0;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
}

/* NAVIGATION BAR */

    /* Nav Bar */
    nav.site {
        /* background-color: rgb(80, 80, 80); */
        background-image: linear-gradient( to top left, #222, #1B1B1B);
        border-width: 0;
        display: block;
        margin: 0;
        opacity: 0.8;
        overflow: hidden;
        padding: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 5;
    } nav.home {
        position: sticky;
        /* TODO:  later need to make only home sticky */
    }

    

    /* Nav Link Block */
    nav.site>a {
        /* main */
        color: #CCC;
        display: block;
        float: left;
        height: 2.4em;
        width: 3.4em;
        padding: 0.12em 0; /*T LR D*/
        text-align: center;
        text-decoration: none;
        transition: color 1s, background-color 1s, padding 1s, height 1s, width 1s;
    } nav.site>a.NavFloatRight {
        /* float right */
        float: right;
    } nav.site:hover>a {
        /* hover expands */
        /* padding: 1.5em; */
        height: 3.8em;
        width: 4em;
        
        /* padding: 0em 0em 0.2em; /*T LR D*/
    } nav.site>a:hover {
        /* hover color select */
        background-color: #333; /*30AAAA*/
        width: 6em;
        color: #F0F0F0;
    } nav.site>a:active {
        /* link - clicked/selected */
        background-color: #000;
        color: #FFF;
    } nav.site>a.currSite {
        background-color: #111;
        color: #F0F0F0;
    }

    /* Nav Icon */
    nav.site>a i {
        font-size: 2em;
    } 

    /* Nav Text */
    nav.site>a p {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.75s 0.25s, visibility 1s;
    } nav.site:hover>a p {
        opacity: 100;
        visibility: visible;
    }

    /* Nav Underline Current Site */
    nav.site>a.currSite>p::after { 
        /* https://www.steckinsights.com/
           shorten-length-border-bottom-pure-css/ */
        content: "";
        display: block;
        margin: 0 auto;
        width: 60%;
        transition: width 0.75s;
        padding-top: 0;
        border-bottom: 2px solid rgb(255, 255, 255);
    } nav.site>a.currSite:hover::after {
        width:100%
    }

    /* Nav Underline Current Site */
     nav.site>a.currSite>p::after { 
        /* https://www.steckinsights.com/
           shorten-length-border-bottom-pure-css/ */
        content: "";
        display: block;
        margin: 0 auto;
        width: 60%;
        transition: width 0.75s;
        padding-top: 0;
        border-bottom: 2px solid rgb(255, 255, 255);
    } nav.site>a.currSite:hover::after {
        width:100%
    }

/* FOOTER */
.mainFooter {
    position: absolute;
    bottom: 0;
    float:left;
    background-color: #1B1B1B;
    width: 100%;
    height: 5vh;
    color: #CCC;
    padding: 5px;
} .mainFooter nav {
    display: right; 
    float: left;
} .mainFooter p {
    display: block;
    float: right;
} .mainFooter a {
    color: #CCC;
    transition: color 1s;
} .mainFooter a:hover {
    text-decoration: none;
    color: #EEE;
}

.breakClear {
    clear: both;
}

.breakFooter {
    height: 5vh;
}

/* HEADER IMAGE */

hr {
    width: 90%;
    opacity: 0.8;
    
}

header {
    margin: 0;
    border: 0;
    padding: 0;
    position: relative;
}

header>img {
    opacity: 0.65;
    transition: opacity 1s;
    display: block;
    margin: 0;
    border: 0;
    padding: 0;
}

header>img:hover {
    opacity: 1;
}
/* body, html {
    height: 100%;
    margin: 0;
  } */


/* Archive Images */
header div.arcHeaderImg {
    /* background-image: url("../Images/img-0001-HQ-SingularRedPinkRose.jpg"); */
    transition: opacity 1s, filter 1s;
}

.arcHeaderBtn {
    color: #FFF;
    background-color: inherit;
    border: none;
    position: fixed;
    top: 10vh; 
    left: 0;
    width: 100%;
    font-size: 6em;
    text-align: center;
    opacity: 0.7;
    border-radius: 0 0.6em 0.6em 0;
    transition: color 1s, background-color 1s, width 1s, top 1s, font-size 1s, opacity 1s;
} button.arcHeaderBtn:hover {
    opacity: 0.5 !important;
}

header div.bgImg {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: -1;
}
section.textPoem {
    display: block;
    width: 100%;
    height: auto;
}
section.textPoem p {
    font-size: 1.5em;
    color: #DDD;
    width: 60%;
    float: left;
    text-align: left;
    margin: 1em;
} section.textPoem p:nth-child(odd) {
    float: right;
    text-align: right;
    color: #EEE;
} section.textPoem>p>span {
    /* all: inherit; */
} 
section.textPoem h2 {
    text-align:center;
    float: none;
    width: 100%;
} section.textPoem a {
        color: #f40d30; 
        transition: color 1s;   
} section.textPoem a:hover {
        color: #ff1d3f;    
}

div.pageBreak {
    height: 100vh;
    width: 100%;
}

div.headerBreak {
    height: 7vh;
    width: 100%;
}

.textToolTipDefinition {
    opacity: 0;
    display: none;
}

/* ARCBLOCKS */

.arcBlock, .imgBlock {
    overflow: hidden;
    position: relative;
    display: block;
    float:left;
    width: 45%;
    height: 20em;
    margin: 2.5%;
    border-radius: 0.5em;
    border: 2px solid black;
    background-color: #DDD;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* opacity: 0.8; */
    /* filter: grayscale(70%); */
    transition: opacity 1s, filter 1s;
} .arcBlock:hover {
    /* opacity: 1; */
    filter: brightness(120%);
} 
.arcBlockHeader {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.3em 0.5em 0.5em 0.5em;
    color: #111;
    border-radius: 0 0.5em 0 0;
    background-color: rgba(50,50,50,0);
    opacity: 1;
    transition: color 1s, background-color 1s, opacity 1s, transform 1s;
} .arcBlock:hover .arcBlockHeader {
    color: rgb(255, 47, 82);
    background-color: rgba(40,40,40,0.6);
    
}

.arcBlockHeaderTitle {
    padding: 0;
    margin: 0;
}
.arcBlockLink {
    display: block;
    position: absolute;
    height: inherit;
    width: 100%;
    color: inherit;
    text-decoration: none;
}

.arcBlockHeader {
    
}

.arcBlockImg {
    display: block;
    float: right;
    width: 100%;
    height: 5em;
    border-radius: 0.4em;
} .arcBlockImg:before {
    /* Edits height to keep aspect ratio */
    /* content: "";
    display: block;
    margin-top: 70%; */
}

.homeArcBlock {
    display: block;
    width: 100%;
    height: 15em;
    overflow: hidden;
    transition: filter 0.5s, box-shadow 0.5s;
} .homeArcBlock:hover {
    box-shadow: 5px 5px 10px #1B1B1B inset;
    filter: brightness(80%);
} .homeArcBlock:first-child {
    border-radius: 15px 15px 0 0;
} .homeArcBlock:last-child {
    border-radius: 0 0 15px 15px;
}

.homeArcBlockLink {
    display: block;
    width: 30%;
    height: 75%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    box-shadow: inherit;
    border-radius: 0 0 8px 0;
}

.homeArcBlockHeader {
    display: block;
    float: left;
    width:70%;
}
.homeArcBlockHeader h3 {
    margin: 0;
    font-size: 30px;
}

.homeArcBlock:nth-child(odd) {
    /* background-color: rgba(255,255,255,0.2); */
    background-color: rgba(255,255,255,0.1);
} .homeArcBlock:nth-child(even)>a {
    float: right;
    border-radius: 0 0 0 8px;

} .homeArcBlock:nth-child(even) header {
    float: right; 
    text-align: right;
} .homeArcBlock:nth-child(even):hover {
    box-shadow: -5px 5px 10px #1B1B1B inset;
}

.imgHome {
    max-width: 100%;
    height: 100vh;
    object-fit: cover;
    
    
}

.imgBlock {
    display: block;
    float: left;
    width: 45%;
    position: relative;
    border-radius: 0.5em;
    overflow: hidden;
}

/* .imgBlock > img {
    display: block;
    max-width: 200%;
    max-height: 100%;
    margin: auto; 
} */

/* FORMS */
.centeredBox {
    width: 80%;
    margin: 0 auto;
    background-color: #fff; 
    padding: 2em;
    border-radius: 2em;
    opacity: 0.95;
}

.form {
    border-radius: 0.5;
} 



.formTextarea {
    resize: vertical;
    width: 100%;
    /* color: rgb(250, 102, 57);rgb(250, 57, 99) */
}

.form:hover {
}
.formSubmit {
    border: 1px solid #555;
    width: 30%;
    height: 3em;
    color: rgb(0, 207, 52);
    background-color: inherit;
    transition: color 0.5s, background-color 0.5s;
    border-radius: 0.5em;
    /* float: right; */
    opacity: 0.9;
} .formSubmit:hover {
    color: white;
    background-color: rgb(0, 197, 76);
}