/*________________________________________
___  ____ ____ ____ _  _ ____ 
|__] |__/ |___ |__| |_/  [__  
|__] |  \ |___ |  | | \_ ___] 
________________________________________*/
.breakHeader {
    height: 7vh;
    width: 100%;
}

.breakPage {
    height: 100vh;
    width: 100%;
}

.breakClear {
    clear: both;
}

.breakFooter {
    height: 60px;
}