/*=============================================================================
 _______  _____  _______ _______  _____  __   _
 |       |     | |  |  | |  |  | |     | | \  |
 |_____  |_____| |  |  | |  |  | |_____| |  \_|
=============================================================================*/
/* COMMON.css -- Serves as the root for all special site-specific stylization */

/* This is serving as a root for ally additional styling outside of the normalize.css */

@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import "normalize";    // Default Internet Normalization
@import 'constants';        // Predefined Colors for the Site
@import 'color';        // Predefined Colors for the Site
@import "standard";     // Standard Element and Common Mixins
@import 'nav';          
@import 'form';          
@import 'footer';
@import 'break';


// TODO: Move Media query into each seperate file, defined by constants in standard
/*________________________________________
_  _ ____ ___  _ ____    ____ _  _ ____ ____ _   _ 
|\/| |___ |  \ | |__| __ |  | |  | |___ |__/  \_/  
|  | |___ |__/ | |  |    |_\| |__| |___ |  \   |   
________________________________________*/

/* Smol Loli Screen */
@media only screen and (max-width: 600px) {
    .main {
        padding: 0 2.5%;
    }
    
    .mainFooter p {
        float:left;
    }

    .arcBlockHeader {
        text-align: center;
        width: 100%;
        border-radius: 0;
    }

    .arcBlock {
        width: 90%;
        margin: 5%;
    }
}


/* Thicc Neesan Screen */
@media only screen and (min-width: 1400px) {
    .arcBlock {
        width: 30%;
        margin: 1%;
    }

}
